# 00 라이브러리 & 민원분류 결과 로딩

### 라이브러리

In [1]:
import pandas as pd
import numpy as np
import pickle

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
plt.rc('font', family='Malgun Gothic')
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

### 민원분류 결과 불러오기

In [6]:
result_df = pd.read_excel('민원분류 예측결과.xlsx')
result_df

,제안번호,제안제목,제안내용,득표,제안등록일자,contents,tokens,all_tokens,분류,분류2
0,186203,중금속 문제가 심각해지고 있는데 중금속으로 분리할수 있는 방법은 없을까요?,"<span style=""font-size: 12px;"">중금속 문제가 심각해지고 있...",0,2019-12-18 01:21:40,중금속 문제가 심각해지고 있는데 중금속으로 분리할수 있는 방법은 없을까요?\n중금속...,"['중금속', '중금속', '분리', '중금속', '중금속', '분리', '폐수',...","['중금속', '가', '심각', '하', '아', '지', '고', '있', '는...",환경,안전
1,186202,제설제에 사용되는 cacl2에서 염소가 환경오염을 일으킨다는데 친환경적인걸로 바꿔주새요,제설제에 사용되는 cacl2에서 염소가 환경오염을 일으킨다는데 친환경적인걸로 바꿔주...,0,2019-12-18 00:41:00,제설제에 사용되는 cacl2에서 염소가 환경오염을 일으킨다는데 친환경적인걸로 바꿔주...,"['제설', '염소', '환경오염', '일으키다', '환경', '바꾸다', '제설'...","['제설', '제', '에', '되', '는', 'cacl', '2', '에서', ...",환경,안전
2,186201,"지하철역 위의 임대아파트 건설 후 청년, 신혼부분에게 임대",서울시의 경우 지하철이 상당히 발달되어 있어 교통서비스를 제공하고 있습니다.&nbs...,0,2019-12-17 13:41:34,"지하철역 위의 임대아파트 건설 후 청년, 신혼부분에게 임대\n서울시의 경우 지하철이...","['지하철역', '위', '임대아파트', '건설', '후', '청년', '신혼', ...","['지하철역', '위', '의', '임대아파트', '건설', '후', '청년', '...",주택,환경
3,186200,재활용 정거장이나 원룸에 재활용 쓰레기통 지원을 늘려주세요,몇몇구에서는 재활용 쓰레기 분리수거함을 원룸촌에 제공해주는 것으로 알고있는데요. 대...,0,2019-12-17 11:10:03,재활용 정거장이나 원룸에 재활용 쓰레기통 지원을 늘려주세요\n몇몇구에서는 재활용 쓰...,"['정거장', '원룸', '쓰레기통', '지원', '늘리다', '주세', '요', ...","['재', '정거장', '이나', '원룸', '에', '재', '쓰레기통', '지원...",환경,문화
4,186199,임산부석을 마냥 비워두지 않는 방법,<p>저는 지하철을 자주 애용하는 여성입니다.</p><p>임산부석이 지정되어 있어 ...,0,2019-12-17 10:55:54,임산부석을 마냥 비워두지 않는 방법\n저는 지하철을 자주 애용하는 여성입니다.임산부...,"['임산부', '석', '마냥', '비우다', '저', '지하철', '자주', '애...","['임산부', '석', '마냥', '비우', '어', '두', '지', '않', '...",교통,건강
...,...,...,...,...,...,...,...,...,...,...
4155,180039,버스 정류장 근처의 빛 공해를 해결해 주세요 !,&nbsp;강동구 5호선 명일역 3번 출구에서 올라오면&nbsp; &nbsp;바로&...,0,2017-12-22 16:37:33,버스 정류장 근처의 빛 공해를 해결해 주세요 !\n강동구 5호선 명일역 3번...,"['버스', '정류장', '근처', '빛', '공해', '해결', '강동구', '호...","['버스', '정류장', '근처', '의', '빛', '공해', '를', '해결',...",교통,환경
4156,180038,서울시내버스 안내방송을 부탁드려요 !,&nbsp;서울 시내 버스를 자주 이용하는 편입니다.&nbsp; 버스 내부에는 주로...,1,2017-12-21 18:44:46,서울시내버스 안내방송을 부탁드려요 !\n서울 시내 버스를 자주 이용하는 편입니다. ...,"['서울시내', '버스', '안내', '방송', '드리다', '시내', '버스', ...","['서울시내', '버스', '안내', '방송', '드리', '어요', '시내', '...",교통,여성
4157,180037,서울역 인근 버스정류장 명 병행표기 제안.,<p>안녕하세요.</p><p>버스를 타고 서울역을 자주 지나는데 항상 이에 의문을 ...,1,2017-12-21 11:13:14,서울역 인근 버스정류장 명 병행표기 제안.\n안녕하세요.버스를 타고 서울역을 자주 ...,"['서울역', '인근', '버스정류장', '병행', '표기', '버스', '타다',...","['서울역', '인근', '버스정류장', '명', '병행', '표기', '하', '...",교통,문화
4158,180036,따릉이 보관소 설치 제안,서초역 주변에 따릉이 보관소 설치를 제안합니다!,0,2017-12-20 18:54:23,따릉이 보관소 설치 제안\n서초역 주변에 따릉이 보관소 설치를 제안합니다!,"['따릉이', '보관소', '설치', '서초', '역', '따릉이', '보관소', ...","['따릉이', '보관소', '설치', '서초', '역', '에', '따릉이', '보...",교통,환경
4159,180033,이륜차(오토바이)업소 주변 행정지도 통해 거리질서 확립필요,"<p>서울시내 어디를 가보든지간에 이륜차 수리업소를 쉽게 볼 수가 있다,</p><p...",0,2017-12-18 20:33:46,이륜차(오토바이)업소 주변 행정지도 통해 거리질서 확립필요\n서울시내 어디를 가보든...,"['이륜', '차', '오토바이', '업소', '행정', '지도', '통하다', '...","['이륜', '차', '오토바이', '업소', '행정', '지도', '통하', '아...",교통,안전

# 01 기술통계량 분석 #

## 민원 분류 예측결과 테이블로 정리

In [16]:
category_table = result_df[['분류','분류2']].apply(pd.Series.value_counts)
category_table

      분류   분류2
건강   291   436
경제   202   253
교통  1077   437
문화   350   435
복지   263   315
세금    20    38
안전   146   595
여성   259   189
주택   350   275
환경  1202  1187

### '분류' 내림차순으로 재정렬

In [23]:
category_table = category_table.sort_values(by='분류',ascending=False)
category_table

      분류   분류2
환경  1202  1187
교통  1077   437
문화   350   435
주택   350   275
건강   291   436
복지   263   315
여성   259   189
경제   202   253
안전   146   595
세금    20    38

### 민원 분류 예측결과 테이블 엑셀로 저장

In [24]:
category_table.to_excel('./stats/민원분류 예측결과 개수.xlsx',index=None)

## 연도별 민원 비율 트랜드 분석

### '연도' 컬럼 생성

In [28]:
result_df['연도'] = result_df['제안등록일자'].dt.year
result_df['연도']

0       2019
1       2019
2       2019
3       2019
4       2019
        ...
4155    2017
4156    2017
4157    2017
4158    2017
4159    2017
Name: 연도, Length: 4160, dtype: int64

### 민원분류-연도 피벗 테이블 생성

In [64]:
# 연도별 민원 분류 개수 테이블
category_year_size = pd.crosstab(result_df['분류'],result_df['연도'])
category_year_size

연도  2017  2018  2019
분류
건강     0   164   127
경제     0    91   111
교통     6   412   659
문화     0   120   230
복지     1   137   125
세금     0     8    12
안전     2    85    59
여성     0   139   120
주택     0   239   111
환경     0   561   641

In [65]:
# 연도별 민원 분류 비율 테이블
category_year_percent = pd.crosstab(result_df['분류'],result_df['연도']).apply(lambda x:x/x.sum()*100,axis=0)
category_year_percent

연도       2017       2018       2019
분류
건강   0.000000   8.384458   5.785877
경제   0.000000   4.652352   5.056948
교통  66.666667  21.063395  30.022779
문화   0.000000   6.134969  10.478360
복지  11.111111   7.004090   5.694761
세금   0.000000   0.408998   0.546697
안전  22.222222   4.345603   2.687927
여성   0.000000   7.106339   5.466970
주택   0.000000  12.218814   5.056948
환경   0.000000  28.680982  29.202733

In [72]:
# 연도별 민원 분류 개수/비율 테이블 통합
pd.concat([category_year_size,category_year_percent],axis=1)

연도  2017  2018  2019       2017       2018       2019
분류
건강     0   164   127   0.000000   8.384458   5.785877
경제     0    91   111   0.000000   4.652352   5.056948
교통     6   412   659  66.666667  21.063395  30.022779
문화     0   120   230   0.000000   6.134969  10.478360
복지     1   137   125  11.111111   7.004090   5.694761
세금     0     8    12   0.000000   0.408998   0.546697
안전     2    85    59  22.222222   4.345603   2.687927
여성     0   139   120   0.000000   7.106339   5.466970
주택     0   239   111   0.000000  12.218814   5.056948
환경     0   561   641   0.000000  28.680982  29.202733

In [73]:
# 연도별 민원 분류 개수/비율 테이블 엑셀로 저장
pd.concat([category_year_size,category_year_percent],axis=1).to_excel('./stats/연도별 민원분류 통계.xlsx',index=None)

# 02 단어 빈도수 통계 추출